@import "../node_modules/bulma/bulma.sass";

@font-face {
  font-family: "monopoly";
  src: url("./fonts/MonopolyRegular.ttf") format("truetype");
}

@font-face {
  font-family: "monopoly-bold";
  src: url("./fonts/MonopolyBold.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.monopoli {
  font-family: "monopoly";
}

.is-absolute {
  position: absolute;
}

.is-w200 {
  width: 200px;
  height: auto;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagline {
  padding-top: 31vh;
  .text1 {
    font-family: "monopoly-bold";
    color: #dc143b;
  }
}

.bookstack {
  width: 400px;
  height: auto;
  margin-left: 130px;
}

.banner {
  margin-bottom: 30vh;
}

.logo {
  padding-top: 10vh;
}

// problem ->
.problem-image {
  height: 300px;
  width: 300px;
  padding: 20px;
  margin: auto;
}

// <- problem

// Quotes ->
.gambar {
  background-image: url("../static/quotes.png");
  background-repeat: no-repeat;
  background-size: contain;
}
// <- Quotes

// footer ->
.max-w-650 {
  max-width: 650px;
}

.mx-auto {
  margin: 0px auto;
}

.input,
.button {
  border-radius: 0;
}

.navbar-divider {
  margin-top: 20vh;
  margin-bottom: 10vh;
}
// <- footer

// about ->
.paragraf {
  p {
    text-indent: 60px;
  }
}
// <- about

.iframe-container {
  overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  padding-top: 56.25%;
  position: relative;
  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
